action-msgs==1.3.1
action-tutorials-interfaces==0.23.0
action-tutorials-py==0.23.0
actionlib-msgs==4.6.1
ament-cmake-test==1.5.2
ament-copyright==0.13.2
ament-cppcheck==0.13.2
ament-cpplint==0.13.2
ament-flake8==0.13.2
ament-index-python==1.5.1
ament-lint==0.13.2
ament-lint-cmake==0.13.2
ament-package==0.15.1
ament-pep257==0.13.2
ament-uncrustify==0.13.2
ament-xmllint==0.13.2
angles==1.16.0
builtin-interfaces==1.3.1
certifi==2022.12.7
charset-normalizer==3.0.1
composition-interfaces==1.3.1
cv-bridge==3.4.0
demo-nodes-py==0.23.0
diagnostic-msgs==4.6.1
domain-coordinator==0.11.1
example-interfaces==0.10.1
examples-rclpy-executors==0.16.2
examples-rclpy-minimal-action-client==0.16.2
examples-rclpy-minimal-action-server==0.16.2
examples-rclpy-minimal-client==0.16.2
examples-rclpy-minimal-publisher==0.16.2
examples-rclpy-minimal-service==0.16.2
examples-rclpy-minimal-subscriber==0.16.2
geometry-msgs==4.6.1
idna==3.4
image-geometry==3.4.0
interactive-markers==2.3.2
laser-geometry==2.4.0
launch==1.3.0
launch-ros==0.22.0
launch-testing==1.3.0
launch-testing-ros==0.22.0
launch-xml==1.3.0
launch-yaml==1.3.0
lifecycle-msgs==1.3.1
logging-demo==0.23.0
lxml==4.9.2
map-msgs==2.1.0
message-filters==4.6.1
nav-msgs==4.6.1
numpy==1.24.1
osrf-pycommon==2.1.0
pandas==1.5.3
pandas-datareader==0.10.0
pcl-msgs==1.0.0
pendulum-msgs==0.23.0
python-dateutil==2.8.2
python-qt-binding==1.2.0
pytz==2022.7.1
qt-dotgraph==2.3.2
qt-gui==2.3.2
qt-gui-cpp==2.3.2
qt-gui-py-common==2.3.2
quality-of-service-demo-py==0.23.0
rcl-interfaces==1.3.1
rclpy==3.7.1
rcutils==6.0.1
requests==2.28.2
resource-retriever==3.2.2
rmw-dds-common==1.7.1
ros2action==0.21.0
ros2bag==0.17.0
ros2cli==0.21.0
ros2component==0.21.0
ros2doctor==0.21.0
ros2interface==0.21.0
ros2launch==0.22.0
ros2lifecycle==0.21.0
ros2multicast==0.21.0
ros2node==0.21.0
ros2param==0.21.0
ros2pkg==0.21.0
ros2run==0.21.0
ros2service==0.21.0
ros2topic==0.21.0
rosbag2-interfaces==0.17.0
rosbag2-py==0.17.0
rosgraph-msgs==1.3.1
rosidl-adapter==3.3.1
rosidl-cli==3.3.1
rosidl-cmake==3.3.1
rosidl-generator-c==3.3.1
rosidl-generator-cpp==3.3.1
rosidl-generator-py==0.16.1
rosidl-parser==3.3.1
rosidl-pycommon==3.3.1
rosidl-runtime-py==0.11.0
rosidl-typesupport-c==2.2.0
rosidl-typesupport-cpp==2.2.0
rosidl-typesupport-fastrtps-c==2.4.0
rosidl-typesupport-fastrtps-cpp==2.4.0
rosidl-typesupport-introspection-c==3.3.1
rosidl-typesupport-introspection-cpp==3.3.1
rpyutils==0.3.1
rqt==1.2.0
rqt-action==2.1.1
rqt-bag==1.2.1
rqt-bag-plugins==1.2.1
rqt-console==2.1.0
rqt-graph==1.4.0
rqt-gui==1.2.0
rqt-gui-py==1.2.0
rqt-msg==1.3.0
rqt-plot==1.2.0
rqt-publisher==1.6.1
rqt-py-common==1.2.0
rqt-py-console==1.1.0
rqt-reconfigure==1.3.0
rqt-service-caller==1.1.0
rqt-shell==1.1.0
rqt-srv==1.1.0
rqt-topic==1.6.0
sensor-msgs==4.6.1
sensor-msgs-py==4.6.1
shape-msgs==4.6.1
simplejson==3.18.1
six==1.16.0
sros2==0.11.1
statistics-msgs==1.3.1
std-msgs==4.6.1
std-srvs==4.6.1
stereo-msgs==4.6.1
teleop-twist-keyboard==2.3.2
tf2-geometry-msgs==0.28.0
tf2-kdl==0.28.0
tf2-msgs==0.28.0
tf2-py==0.28.0
tf2-ros-py==0.28.0
tf2-sensor-msgs==0.28.0
tf2-tools==0.28.0
topic-monitor==0.23.0
trajectory-msgs==4.6.1
turtlesim==1.5.0
unique-identifier-msgs==2.3.1
urllib3==1.26.14
visualization-msgs==4.6.1
yahoo-finance==1.4.0
